# Backend requirements
fastapi==0.109.0
uvicorn==0.24.0
python-dotenv==1.0.0

# Database
sqlalchemy==2.0.7

# Payment Integration
mercadopago==2.2.1

# Utilities
qrcode==7.4.2
pydantic==2.6.4
websockets==12.0
python-multipart==0.0.7
